*{
    margin:0;
    padding:0;
    box-sizing: border-box;
 
 }
 body{
    background-color: aliceblue;
 }
 footer{
    position:absolute;
 
    background-color: black;
    bottom:0;
    left:0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-top: 40px;
    color: aliceblue;
 }
 